[Unit]
Description=Visor GPS Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/visor
ExecStart=/home/pi/visor/env/bin/python /home/pi/visor/gps_feed.py
Restart=always

[Install]
WantedBy=multi-user.target
